/* CSS Document */
/* Etiquetas*/
body {
	background-color: #02010a;
	font-family: 'Gamja Flower', cursive;
	font-family: 'Lora', serif;
	font-family: 'Dancing Script', cursive;
	margin: 0;
}
img {
	-webkit-filter: drop-shadow(2px 2px #02010a);
}
h2 {
	margin-left: 10%;
	margin-right: 10%;
}
p {
	margin-left: 10%;
	margin-right: 10%;
}
a {
	text-decoration: none;
	text-align: center;
}
navbar {
	margin-top: 2em;
	text-align: right;
	width: 50%;
}
navbar a {
	color: white;
	text-shadow: 1px 2px 3px #02010a;
	word-spacing: 15px;
}
h1 {
	width: 40%;
	color: white;
	text-shadow: 1px 2px 3px #02010a;
	margin: 2%;
}
/*Clases*/
.container {
	border: 1px solid;
	border-radius: 10px;
	margin: 0 auto;
	width: 900px;
	flex-flow: row wrap;
	animation: mianimacion 2s;
	opacity: 0.9;
}
.portada {
	clear: both;
	color: #333;
	background-color: #82c3a6;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}
.imagen1 {
	width: 90%;
	display: flex;
	padding: 4%;
}
.imagen2 {
	width: 90%;
	display: flex;
	padding: 4%;
}
.imagen-portada {
	width: 90%;
	display: flex;
	padding: 4%;
}

/*Transiciones de index*/
.imagen1:hover {
	-webkit-filter: drop-shadow(2px 2px #82c3a6 );
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
	transform: rotate(10deg);
	transition-duration: 2s;
	animation-name: imagen2-animacion;
	animation-duration: 2s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
.imagen2:hover {
	-webkit-filter: drop-shadow(2px 2px #82c3a6 );
	-ms-transform: translate(5px, -20px); /* IE 9 */
	-webkit-transform: translate(5px, -20px); /* Safari */
	transform: translate(5px, -20px);
	transition-duration: 2s;
	animation-name: imagen2-animacion;
	animation-duration: 2s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
.cabecera {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	background-color: #5b7989;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}
.cabecera navbar {
	text-decoration: none;
	float: right;
}
.imagen-secundaria {
	clear: both;
	background-color: #d5c75f;
	min-height: 200px;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	border: 1px;
	padding-bottom: 1%;
}
.imagen-paisaje {
	clear: both;
	background-color: #d5c75f;
	min-height: 200px;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	border: 1px;
	padding-bottom: 1%;
}
/*Cajas de imagenes secundarias*/
.c5 {
	width: 50%;
	text-align: center;
}
.c6 {
	width: 50%;
	text-align: center;
}
.caja1, .caja2, .caja3, .caja4, .caja5, .caja6 {
	width: 22%;
	padding: 5%;
}
/*Pie de pagina*/
.piedepagina {
	clear: both;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #333;
	background-color: #C6d5c5;
	min-height: 200px;
	width: 100%;
}
.contenedor {
	clear: both;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #333;
	background-color: #C6d5c5;
	min-height: 200px;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}
.c1 p, .c2 p, .c3 p, .c4 p {
	font-size: 1em;
}
.c1 {
	width: 25%;
}
.c2 {
	width: 20%;
}
.c3 {
	width: 30%;
}
.c4 {
	width: 25%;
}


/* media querys para telefonos celulares*/



@media all and (min-width:150px) and (max-width: 900px) {
.c1, .c2, .c3, .c4, .c5, .c6 {
	width: 100%;
}
.caja1, .caja2, .caja3, .caja4, .caja5, .caja6 {
	width: 100%;
}
.imagen-paisaje {
	width: 100%;
}
.container {
	width: 100%;
}
.cabecera {
	width: 100%;
	order: 1;
}
navbar {
	width: 100%;
	order: 8;
}
navbar {
	text-align: center;
	margin-top: 2em;
}
header {
	text-align: center;
}
h1 {
	text-align: center;
	width: 100%;
}
}
/*Para tablet ipods*/

@media (min-width:600px) and (max-width: 900px) {
.c1, .c2, .c3, .c4, .c5, .c6 {
	width: 50%;
}
h1 {
	text-align: center;
	width: 100%;
}
.caja1, .caja2, .caja3, .caja4, .caja5, .caja6 {
	width: 40%;
}
}
/*Iconos de redes sociales*/
.icono-redes {
	width: 20px;
}

/* Animacion de contenedor principal*/

@-webkit-keyframes mianimacion {
 0% {
 margin-top: 120%
}
 60% {
 margin-top: -5%;
}
 100% {
 margin-top: 0%;
}
}

/*Para paisajes y retratos*/
.paisaje1 {
	border-left: 5%;
	border-bottom: 5%;
	border-right: 5%;
	border-top: 5%;
	width: 100%;
	-webkit-filter: blur(10px);
}
.paisaje2 {
	border-left: 5%;
	border-bottom: 5%;
	border-right: 5%;
	border-top: 5%;
	width: 100%;
	-webkit-filter: grayscale(100%);
}
.paisaje3 {
	border-left: 5%;
	border-bottom: 5%;
	border-right: 5%;
	border-top: 5%;
	width: 100%;
	-webkit-filter: sepia(90%);
}
.paisaje4 {
	border-left: 5%;
	border-bottom: 5%;
	border-right: 5%;
	border-top: 5%;
	width: 100%;
	-webkit-filter: grayscale(100%);
}
.paisaje5 {
	border-left: 5%;
	border-bottom: 5%;
	border-right: 5%;
	border-top: 5%;
	width: 100%;
}
.paisaje6 {
	width: 100%;
	-webkit-filter: grayscale(100%);
}
.retrato1 {
	display: flex;
	width: 100%;
	-webkit-filter: blur(10px);
}
.retrato2 {
	display: flex;
	width: 100%;
	-webkit-filter: grayscale(100%);
}
.retrato3 {
	display: flex;
	width: 100%;
	-webkit-filter: sepia(90%);
}
.retrato4 {
	display: flex;
	width: 100%;
	-webkit-filter: grayscale(100%);
}
.retrato5 {
	display: flex;
	width: 100%;
}
.retrato6 {
	display: flex;
	width: 100%;
	-webkit-filter: grayscale(100%);
}
